<%title "Admin page"%>
<p>
<h3><%= link_to "List of Posts", posts_path%></h3>
</p>
<p><%= button_to "Generate report", :controller => :users, :action => :report%></p>
<p>
<h3>List of Categories: </h3>
    <% @category.each do |c| %>
        <h4><p><%= c.category %></p></h4>
        <%= button_to "Delete Category", :method => :delete, :controller => :users, :action => :delete_category, :category_id => c.id %>
    <% end %>
</p>
<%#= text_field_tag :new, params[:new]%>
<%#= button_to "Add a new Category", :controller => :users, :action => :add_category, :new => params[:new]%>
<%= form_tag :controller => :users, :action => :add_category do %>
    <%= text_field_tag :new, params[:new]%>
    <%= submit_tag "Add Category", :name => nil %>
<%end%>
<br>
<p><h3>List of Users:</h3></p>

<p>
<ul id="posts_list">
  <% @users.each do |user| %>
      <li>
      <div class="post_message_container">
           <h3><%= user.username %></h3>
            <div class="time_ago">
            Created <%= distance_of_time_in_words_to_now(user.created_at)%> ago
            </div>
            <% if current_user.admin == 1 %>
            <p>
              <% if user.admin == 0 %>
                <%= button_to "Make admin", :controller => :users, :action => :make_admin, :user_id => user.id%>
                <% else %>
                  <%= button_to "Revoke admin rights", :controller => :users, :action => :make_admin, :user_id => user.id%>
               <% end %>
              <%= button_to "Delete", :controller => :users, :action => :delete_user, :confirm => "Do you want to delete the user ?", :method => :delete, :user_id => user.id%>
            </p>
             <% end %>

        </div>
       <div class="clear"></div>
      </li>
  <% end %>
</ul>
</p>